.MyCart {
    color: #333;
    .body-bd{
        .box-bd{
            dd{
                padding: 6px 10px;
            }
        }
    }
    h2{
        font-size: 18px;
        color: #666;
        margin-bottom: 10px;
        display: inline-block;
    }
    .box-bd{
        padding-top: 10px;
        
        dl{
            border: solid 1px #ccc;
            background: #fff;
        }
        dt{
            padding: 0 10px;
            height: 40px;
            background: #f7f5fa;
            border-bottom: solid 1px #ccc;
            span{
                line-height: 36px;
            }
        }
        dd{
            color: #333;
            b{
                font-size: 14px;
                display: block;
                text-indent: 56px;;
                width: 160px;
            }
        }
        .P_left{
            padding-left: 20px;
        }
    }
}
.checkout-box {
    background: #fff;
    border: solid 1px #ccc;
    padding: 10px;
    h3{
        padding: 1% 2% 0;
        font-size: 16px;
        border-bottom: dotted 1px #ccc;
        line-height: 32px;
        margin-bottom: 20px;
    }
    .body-bd{
        margin-bottom: 8px;
        border-bottom: dotted 1px #e9e9e9;
        .zongs{
            margin-top: 2%;
            background: #f7f5fa;
            border: solid 1px #ececec;
            padding: 1% 0;
            dl{
                border: none;
                line-height: 26px;
                background: #f7f5fa;
            }
            dt{
                float: left;
                width: 30%;
                padding: 3px 0;
                text-align: right;
                height: auto;
            }
            dd{
                float: left;
                padding: 3px 0;
                padding-left: 3%;
                width: 52%;
            }
            .left{
                float: left;
                width: 62%;
                border-right: dotted 1px #ccc;
                padding: 2% 0;
            }
            .right{
                float: right;
                width: 31%;
                padding: 1% 3%;
                .bk{
                    border-bottom: dotted 1px #f4dede;
                }
                .font{
                    font-size: 17px;
                    white-space: nowrap;
                }
                dd{
                    padding-left: 8%;
                }
                dd.hse{
                    color: #e4393c;
                }
                .nnniu{
                    margin-top: 20px;
                    a{
                        padding: 6% 25%;
                        border-radius: 4%;
                        white-space: nowrap;
                    }
                }
            }
        }
        .box-bd{
            color: #666;
        }
        .beizhu{
             padding: 4% 0 20px 2%;
             border-bottom: dotted 1px #ccc;
             li{
                 float: left;
                 margin: 0 10px;
             }
             .input{
                width:338px;;
                line-height: 18px;
                margin-top: -2%;
                padding: 8px 12px;
                border: 1px solid #b7b7b7;
                box-shadow: inset 0 1px #e1e1e1;
             }
        }
        .yunfei{
            line-height: 42px;
            padding: 12px;
            text-align: center;
            span{
                float: left;
                padding-left: 12px;
            }
            em{
                padding-left: 12px;
            }
        }
    }
    .xinzeng{
        height: 30px;
        b{
            font-size: 16px;
            line-height: 14px;
            padding: 1% 2% 0;
        }
    }
}
em{
    font-style: normal;
}
.c-o, a.c-o {
    color: #ee4242;
}
.xm-edit-addr {
    padding: 0 5%;
    .shdz{
        border-color: #d22215;
        background: #d22215;
        padding: .6% 3%;
        margin: 0 3% 0 2.3%;
    }
    .item{
        margin-bottom: 1.6%;
        line-height: 22px;
        .input{
            padding: 6px;
            border: solid 1px #ccc;
            width: 30%;
            margin-left: 2.5%;
            float: left;
        }
        dt{
            width: 14%;
        }
        span{
            display: inline-block;
            margin: 0 8px 0 4px;
        }
        dd{
            width: 85%;
        }
        .select{
                color: #333;
                width: 150px;
                height: 35px;
                padding: 6px;
                border: solid 1px #ccc;
                margin: 0 0 1% 2.5%;
                float: left;
        }
    }
    .xxidz{
        padding: 6px;
        border: solid 1px #ccc;
        width: 70%;
        margin-left: 2.5%;
        float: left;
    }
}

.xm-edit-addr .item dt, .xm-edit-addr .item dd {
    float: left;
}
option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}
.btn {
    background: #666;
    padding: .8% 4%;
    border: solid 1px #ccc;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    vertical-align: middle;
    position: relative;
    display: inline-block;
}
.product_info_address {
    font-size: 14px;
    font-weight: bold;
    color: #f50;
    margin-left: 12px;
    margin-bottom: 1.2%;
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-20 {
    float: left;
}
.col-md-5 {
    width: 41.66666667%;
}

.col-md-2 {
    width: 16.66666667%;
}
.col-md-1 {
    width: 8.33333333%;
}
.col-md-9 {
    width: 75%;
}

.MyCart .body-bd .box-bd .x-hl:last-of-type {
    border-bottom: none;
}
.MyCart .body-bd .box-bd .x-hl {
    line-height: 60px;
    margin-bottom: 10px;
    border-bottom: dotted 1px #a8a8a8;
}
.MyCart .body-bd .box-bd dd .g-info {
    width: 732px;
    padding: 0;
    line-height: 60px;
    overflow: hidden;
    float: left;
    span{
            display: block;
        float: left;
        margin-right: 24px;
        height: 150px;
        width: 150px;
        border: 1px solid #ccc;
        margin-bottom: 10px;
    }
    .xq{
        float: left;
        color: #666;
        width: 31%;
        line-height: 18px;
    }
}
.tc, .center {
    text-align: center !important;
}
.value1{
    text-indent: 33px;
}
.btn_Bhui {
    cursor: default;
    background: #999;
    padding: .8% 4%;
    border: none;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    font-family: normal;
}
.MyCart .body-bd .box-bd dt, .MyCart .body-bd .box-bd dd {
    border: none;
}

.xm-edit-addr .item span {
    display: inline-block;
    margin: 0 3% 7px;
    color: #d22215;
}
.choice{
    display: none;
    position: fixed;
    left: 42%;
    top: 50%;
    padding: 5px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 16px;
    // width:160px;
    height: 50px;
    background: rgba(0,0,0, .4);
    border-radius: 5%;
}