.m-h-430 {
    min-height: 583px;
}
.MyCart {
    color: #333;
    .switch-cart{
        font-weight: 600;
        line-height: 30px;
        em{
            font-size: 16px;
            color: #444;
        }
        span{
            position: relative;
            display: inline-block;
            margin-left: 10px;
            padding: 0 .8%;
            line-height: 18px;
            border: solid 1px #e4393c;
            color: #e4393c;
        }
    }
    .box-bd{
        padding-top: 10px;
        dl{
            border: 1px solid #ccc;
            background: #fff;
        }
        dt{
            padding: 0 10px;
            height: 40px;
            background: #f7f5fa;
            border-bottom: solid 1px #ccc;
            span{
                line-height: 36px;
            }
        }
        dd{
            padding: 10px;
            color: #333;
            border-bottom: 1px dotted #ccc;
            .jies{
                position: relative;
                padding: 30px 20px;
                min-height: 80px;
                background: #fdfbf2;
                line-height: 21px;
                p{
                    padding-bottom: 15px;
                    text-align: right;
                }
            }
            .col-md-12 {
                padding-top: 12px;
                white-space: nowrap;
                word-spacing: normal;
                overflow: hidden;
            }
            .icon-3{
                font-size: 20px;
                margin-top: 6px;
                opacity: .5;
                transition: all .3s;
                &:hover{
                    opacity: 1;
                    color: #000;
                }
            }
            .cse{
                color: #ff2f00
            }
            b{
                font-size: 14.4px;
                display: block;
                text-indent: 18px;
            }
            .g-pic{
                width: 36%;
                max-height: 100px;
                overflow: hidden;
                margin: 1%;
                float: left;
                border: solid 1px #ccc;
            }
            .g-info{
                width: 55%;
                float: left;
                padding: .5% 0 0 3%;
                line-height: 22px;
            }
            .ts_g{
                float: left;
                margin-top: 1.5%;
                padding: 1px 24px;
            }
        }
        .P_left{
            padding-left: 20px;
        }
    }
}
.Spinner.mlr {
    margin: 0 auto;
}
.Spinner {
    display: block;
    overflow: hidden;
    width: 100px;
    margin-top: 10px;
    .Amount{
        width: 36px;
        height: 17px;
        padding: 4px 5px;
        line-height: 17px;
        border-width: 1px 0;
        border-style: solid;
        border-color: #d9d9d9;
        float: left;
        text-align: center;
        color: #565656;
        outline: 0;
    }
    a{
        // display: inline-block;
        width: 25px;
        height: 25px;
        border: 1px solid #d9d9d9;
        background-color: #f7f7f7;
        float: left;
        cursor: pointer;
        outline: 0;
        i{
            font-style: normal;
            margin: 7px;
            font-size: 14.4px;
            line-height: 20px;
        }
    }
}
.mt-10 {
    margin-top: 10px !important;
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-20 {
    float: left;
}
.col-md-1 {
    width: 8.33333333%;
}
.col-md-2 {
    width: 16.66666667%;
}
.col-md-3 {
    width: 25%;
}
.col-md-5 {
    width: 41.66666667%;
}
.col-md-9 {
    width: 75%;
}
.col-md-12 {
    width: 100%;
}
.tc, .center {
    text-align: center !important;
}
input[type="checkbox"] {
    vertical-align: middle;
    margin-bottom: 2px;
}
.img100 img {
    max-width: 100% !important;
    margin: 0 auto;
}
.ts_g {
    position: relative;
    background: #ec5766;
    color: #fff;
    text-align: center;
    white-space: nowrap;
}
a.btn_hong {
    background: #e61000;
    padding: .8% 4%;
    border: none;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    transition: all .3s ease 0s;
    &:hover{
            background: #dd0f00;
    }
}
.shadow{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.3);
    opacity:.3;
    z-index: 20;
}
.dialog{
    display: none;
    position: fixed;
    top: 48%;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    z-index: 21;
    width: 240px;
}
.dialog-head{
    position: relative;
    line-height: 24px;
    font-size: 14px;
    padding: 22px 20px 22px 65px;
    text-align: left;
    .icon-wenhao{
        position: absolute;
        top: 22px;
        left: 15px;
        font-size: 32px;
        color: #3c9cc2;
    }
    span{
        position: absolute;
        right: -15px;
        top: -15px;
        width: 30px;
        height: 30px;
        background: #fff;
        border-radius: 50%;
        .icon-shanchu{
            font-size: 26px;
            color: #666;
            position: absolute;
            top: 4px;
            left: 2px;
            &:hover{
                color: blue;
            }
        }
    }
}
.dialog-btn{
    text-align: center;
    padding: 0 30px 10px;
    overflow: hidden;
    a{
        height: 30px;
        line-height: 30px;
        margin: 0 8px;
        padding: 0 20px;
        background: #5FBFE7;
        color: #fff;
        font-size: 14px;
        font-weight: 700;
        display: block;
        float: left;
        cursor: pointer;
        &:hover{
            opacity: .9;
        }
    }
    .cancel{
        background: #A6BBCE;
    }
}