*{
    padding: 0;
    margin: 0;
}
body{
    font: 12px/1.5 Tahoma, Arial, Helvetica, 'Microsoft YaHei', sans-serif;
    color: #333;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
a:link{
    text-decoration: none;
    vertical-align: baseline;
    color: #333;
}
a:focus, a:hover, a:active {
    color: #ed4242;
    /* text-decoration: none; */
}
img{
    vertical-align: bottom;
    border:none;
    overflow: hidden;
}
label{
    cursor: pointer;
}
button, input, select, textarea, label {
    vertical-align: middle;
    outline: none;
}

em{
  font-style: normal;
}
.w-100{
    width: 100%;
    text-align: center;
    position: relative;
}
s.ggao {
    display: block;
    min-width: 1200px;
    max-width: 100%;
    min-height: 80px;
    background: url(../img/topnav.jpg) no-repeat top center;
}
#tog {
    position: absolute;
    right: 50%;
    top: 5px;
    margin-right: -610px;
    font-size: 16px;
    padding: 0 8px;
    color: #fff;
    background: rgb(45,45,45);
    cursor: pointer;
    opacity: .3;
    filter: alpha(opacity=30);
}


/* header */
/*main-header*/
.header-bar {
  height: 36px;
  background: #f1f1f1;
  border-bottom: solid 1px #ddd; }

.w1200 {
  width: 1200px;
  margin: 0 auto; }

.nav-top {
  position: relative; }
  .nav-top .showAppCode {
    display: none;
    background: url(../img/appCodeImg.png) no-repeat -46px 0px;
    position: absolute;
    top: 37px;
    right: -29px;
    width: 122px;
    height: 138px; }
  .nav-top .appDownload {
    margin-right: 10px;
    cursor: pointer; }

.fl {
  float: left; }

.fr {
  float: right; }

.header-bar .nav-top .w92 .xs {
  width: 92px; }
.header-bar .nav-top li {
  position: relative;
  line-height: 36px;
  z-index: 10; }
  .header-bar .nav-top li a.down {
    position: relative;
    display: inline-block;
    z-index: 4; }
    .header-bar .nav-top li a.down:hover {
      color: #ee4242; }
    .header-bar .nav-top li a.down s {
      margin-right: 6px; }
  .header-bar .nav-top li .xs {
    width: 90px;
    display: none;
    background: #fff;
    position: absolute;
    top: 37px;
    left: -1px;
    border: 1px solid #dfdfdf;
    border-top: none;
    z-index: 3; }
    .header-bar .nav-top li .xs a:hover {
      color: #ee4242; }
  .header-bar .nav-top li .li-b li {
    line-height: 28px;
    padding: 0 12px; }
    .header-bar .nav-top li .li-b li s {
      margin: 0 4px -1px 1px; }

.qizhi-CNY {
  display: inline-block;
  width: 16px;
  height: 11px;
  background: url(../img/ico-index-flag.png) no-repeat 0 -12px; }

.iconfont {
  font-size: 12px; }

.icon-up {
  position: relative;
  top: 1px;
  font-size: 12px;
  color: #888; }

.qizhi-USD {
  display: inline-block;
  width: 16px;
  height: 11px;
  background: url(../img/ico-index-flag.png) no-repeat 0 0; }

.qizhi-KRW {
  display: inline-block;
  width: 16px;
  height: 11px;
  background: url(../img/ico-index-flag.png) no-repeat 0 -36px; }

.qizhi-HKD {
  display: inline-block;
  width: 16px;
  height: 11px;
  background: url(../img/ico-index-flag.png) no-repeat 0 -24px; }

.c-66, a.c-66 {
  color: #666; }

.c-o, a.c-o {
  color: #ee4242; }

.header-bar .fr.nav-top li a.c-o {
  padding: 0 8px; }

.mfr-5 {
  margin: 0 5px; }

.site-header {
  min-width: 1200px;
  margin: 50px 0 30px 0;
  height: 76px;
  background: #fff;
  transition: margin-top .5s ease; }
  .site-header .w1200 .logo {
    margin-top: 5px; }

 

.header-cart {
  position: relative;
  z-index: 1;
  float: right; }
  .header-cart .down {
    display: block;
    color: #666;
    background: #ececec;
    font-size: 16px;
    height: 40px;
    padding: 2px;
    width: 120px; }
    .header-cart .down .icon-gouwuche {
      float: left;
      font-size: 22px;
      line-height: 40px;
      margin-right: 16px;
      padding: 0 10px;
      color: #333157;
      background: #fff; }
    .header-cart .down .ci-count {
      position: absolute;
      top: -10px;
      left: 15px;
      display: block;
      padding: 4px;
      border-radius: 10px;
      line-height: 8px;
      color: #fff;
      background-color: #ee4242;
      font-size: 12px;
      font-weight: normal; }
    .header-cart .down h2 {
      float: left;
      font-weight: 100;
      font-size: 16px;
      line-height: 44px;
      text-align: center; }

.search-box {
  margin-right: 150px;
  width: 510px; }

.tps-search {
  height: 40px;
  border: solid 2px #163672;
  border-radius: 2px;
  background: #fff;
  outline: 0; }
  .tps-search .search-text {
    float: left;
    width: 438px;
    font-size: 14px;
    margin: 10px;
    border: none; }
  .tps-search button {
    float: left;
    height: 40px;
    width: 48px;
    border: 0;
    cursor: pointer;
    overflow: hidden;
    background-color: #163672; }
    .tps-search button .icon-sousuo2 {
      display: block;
      font-size: 28px;
      color: #fff; }

.search-hots {
  margin-top: 4px;
  height: 20px; }
  .search-hots a {
    margin-right: 6px;
    display: inline-block;
    font-weight: 100; }
  .search-hots b {
    margin-right: 6px;
    display: inline-block;
    font-weight: 100; }

.t-o-h {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.nav-wp {
  min-width: 1200px;
  height: 45px;
  line-height: 45px;
  border-bottom: 2px solid #163672; }

.catalog {
  position: relative;
  zoom: 1;
  z-index: 10;
  width: 160px; }
  .catalog:hover .menu-cate-all-out {
    display: block; }
  .catalog .icon-hengxian {
    margin-right: 10px;
    font-size: 16px; }
  .catalog h3 {
    display: block;
    font-size: 14px;
    line-height: 45px;
    padding-left: 26px;
    color: #fff;
    background: #163672;
    font-weight: 500; }

.menu-cate-all-out {
  display: none;
  position: absolute;
  top: 45px;
  padding-top: 2px;
  left: 0;
  width: 160px;
  background: rgba(22, 54, 114, 0.9);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); }
  .menu-cate-all-out dl:hover {
    background: #fff; }
    .menu-cate-all-out dl:hover a {
      color: #333; }
  .menu-cate-all-out dt {
    position: relative;
    line-height: 40px;
    padding-left: 32px;
    transition: all .2s linear;
    font-size: 14px;
    color: #f2f2f2; }
    .menu-cate-all-out dt a {
      font-size: 14px;
      color: #f2f2f2; }
  .menu-cate-all-out .submenu {
    position: absolute;
    top: 2px;
    bottom: 0;
    left: 160px;
    display: none;
    background: #fff;
    white-space: nowrap;
    min-width: 1000px;
    height: 520px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); }
    .menu-cate-all-out .submenu a:hover {
      color: #ee4242; }
    .menu-cate-all-out .submenu ul {
      padding: 10px 20px;
      background: #fff;
      border-bottom: 1px dotted #ddd; }
    .menu-cate-all-out .submenu li {
      float: left; }
    .menu-cate-all-out .submenu .b-t {
      width: 80px;
      color: #333;
      font-size: 14px;
      font-weight: 700;
      line-height: 22px;
      height: 22px;
      margin-right: 20px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .menu-cate-all-out .submenu .n-r {
      width: 860px; }
      .menu-cate-all-out .submenu .n-r a {
        float: left;
        padding: 0 8px;
        margin: 4px 0;
        line-height: 16px;
        height: 16px;
        border-right: 1px solid #e0e0e0;
        white-space: nowrap; }

.menu-normal {
  zoom: 1;
  height: 45px; }
  .menu-normal li {
    position: relative;
    display: inline-block;
    text-align: center; }
    .menu-normal li .xs {
      display: none;
      background: rgba(255, 255, 255, 0.8);
      position: absolute;
      top: 46px;
      left: -1px;
      border: solid 1px #dfdfdf;
      z-index: 3; }
    .menu-normal li a {
      display: block;
      font-size: 14px;
      line-height: 45px;
      padding: 0 25px; }
      .menu-normal li a:hover {
        color: #ee4242; }
    .menu-normal li ol.xs.w120 {
      width: 120px; }
    .menu-normal li ol.xs.w180 {
      width: 180px;
      left: -24px; }

em.hot, em.new {
  position: absolute;
  top: -5px;
  right: 55px;
  width: 9px;
  height: 14px;
  background: url(../img/hot.gif) no-repeat center;
  z-index: 2; }

em.new {
  background-image: url(../img/new.gif); }


/* footer */
.main-footer{
    background: #eee;
    color: #999;
    margin-top: 40px;
    border-top:1px solid #ddd;
    min-width: 1200px;
}
.main-footer .fl li{
    padding-top: 15px;
}
.main-footer .fl li a{
    display: inline-block;
    margin-right: 20px;
}
.main-footer .fl li p{
    line-height: 21px;
}
.p_beian{
    padding: 5px 0 10px;
}
.p_beian .ico_beian{
    background: url(../img/ico_beian.png) center center no-repeat;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    vertical-align: top;
}
.main-footer .ce-l{
    padding-left: 60px;
}
.main-footer .fr{
    position: relative;
    z-index: 3;
    width: 160px;
    text-align: center;
    color: #ddd;
    background: #e65050;
    padding: 30px 0 22px;
}
.main-footer .fr img{
    display: inline-block;
    margin-bottom: 10px;
    max-width: 114px;
}


/* 回到顶部 */
.backToTop-up {
  display: none;
  background: #888;
  border-radius: 10%;
  bottom: 3%;
  cursor: pointer;
  height: 45px;
  width: 45px;
  text-align: center;
  position: fixed;
  right: 3%;
  transition: all 0.3s ease 0s;
  z-index: 100; }
  .backToTop-up i {
    font-size: 20px;
    color: #fff;
    margin-top: 15px;
    display: block;
    line-height: 22px; }
  .backToTop-up:hover {
    background: #e65050; }


.submenu ul:after, ul:after, dl::after, .main-header:after,.clear:after, .titles:after, .x-banner:after, .main-content:after, .main-footer:after, .w1200:after, .tps-line:after, .tps-tabs:after, .popular:after {
    display: table;
    clear: both;
    content: " ";
}

