
/* .carousel-img a{
    position: absolute;
    left:0;
    top: 0;
    display: none;
} */
/* .carousel-img a:first-child {
    display: block;
} */
.carousel-control {
    display: none;
}
.carousel-control a {
    position: absolute;
    top:50%;
    margin-top: -23px;
    width:46px;
    height: 46px;
    border-radius: 50%;
    background: rgba(0, 0, 0, .4);
    text-align: center;
    font-size: 30px;
    color: #fff;
}
.carousel-control .carousel-control-prev {
    left: 25px;
}
.carousel-control .carousel-control-next {
    right: 25px;
}
.carousel-btn {
    position: absolute;
    left:50%;
    bottom: 20px;
    transform: translate(-50%);
    padding: 4px 8px;
    /* font-size:0; */
    /* background: rgba(255, 255, 255, .5); */
    border-radius: 9px;
}
.carousel-btn a{
    margin: 0 4px;
    display: inline-block;
    width: 22px;
    height:22px;
    border-radius: 50%;
    background: #fff;
    text-align: center;
    font-size: 10px;
}
.carousel-btn .active{
    background: #333
}
.carousel-btn .active{
    color: #fff;
}